
@{
    ViewBag.Title = "Xuly";
}
<h2>Thông tin sinh viên</h2>
<body>
    <div>
        <table border="1">
            <tr>
                <td>Mã SV: </td>
                <td>@ViewBag.ma</td>
            </tr>
            <tr>
                <td>Họ tên: </td>
                <td>@ViewBag.ten</td>
            </tr>
            <tr>
                <td>Điểm: </td>
                <td>@ViewBag.diem</td>
            </tr>
        </table>
    </div>
</body>

